*
!.gitignore
!action.yml
!claim.py
!LICENSE
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!tests/
tests/*
!tests/run.sh
!tests/gh.sh
!README.md
!SECURITY.md
!.github/
.github/*
!.github/PULL_REQUEST_TEMPLATE.md
!.github/dependabot.yml
!.github/ISSUE_TEMPLATE/
.github/ISSUE_TEMPLATE/*
!.github/ISSUE_TEMPLATE/issue.md
!.github/workflows/
.github/workflows/*
!.github/workflows/actionlint.yml
!.github/workflows/tests.yml
!.github/workflows/codeql.yml
!.github/workflows/claim.yml
!.github/workflows/scorecard.yml
